body,html {
    height:100%;
    margin:0;
}

body{
    font-family:monospace;
    background-color:rgb(255, 215, 177);
}

.jumbotron-background-image{
    background-image:url("/background/colorfulBeach.jpg");
  
    height: 30%;

    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.display-4{
    font-family:monospace;
    text-align: center;
    position: relative;
    color:white;
    border:10px solid white;
}

.col-sm-4 img{
    width:90%;
    height:90%;
    margin-left:15px;
}

.bottom-of-page{
    background-color:#e3f2fd;;
  }

  .row{
      padding:10px;
      border: 5px solid white;
  }

  .container-fluid{
      color:rgb(83, 82, 82);
  }