body,html {
    height:100%;
    margin:0;
}

body{
    background-color: rgb(235, 230, 230);
    font-family:monospace;
}

.jumbotron-background-image{
    background-image:url("/background/colorfulBeach.jpg");
  
    height: 30%;

    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.display-4{
    font-family:monospace;
    text-align: center;
    position: relative;
    color:white;
    border:10px solid white;
}

.bottom-of-page{
    background-color:#e3f2fd;;
  }

  .row{
      margin-left:55px;
  }

  h4{
      text-align: center;
  }