body,html {
    height:100%;
    margin:0;
}

body{
    color: black;
    background-color:#fad8de;
    font-family:monospace;
}

.jumbotron-background-image{
    background-image:url("/background/colorfulBeach.jpg");
  
    height: 30%;

    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.display-4{
    font-family:monospace;
    text-align: center;
    position: relative;
    color:white;
    border:10px solid white;
}

  .pages{
      color:white;
      margin-top:50px;
  }

  .bottom-of-page{
    background-color:#e3f2fd;;
  }