body,html {
    height:100%;
    margin:0;
}

body{
    font-family:monospace;
    background-color:rgb(189, 189, 243);
}

.jumbotron-background-image{
    background-image: url("/background/colorfulBeach.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.display-4{
    font-family:monospace;
    text-align: center;
    position: relative;
    color:white;
    border:10px solid white;
}

.col-sm-4 img{
  width:70%;
  height:75%;
  margin-left: 55px;
}

.bottom-of-page{
  background-color:#e3f2fd;;
}

.carousel-inner img {
    margin: auto;
    width:200px;;
    height:400px;
}
.carousel-inner{
    background-color:#e3f2fd;
    border: 5px solid white;
}

h3, h4{
    text-align:center;
    color:rgb(105, 102, 102);
}